algorithm-flask/.idea
*.pyc
/backend/.idea
backend/oss-upload/src/main/java/com/example/demo/utils/SecretKey.java
backend/backend/src/main/java/com/sepbf/backend/utils/SecretKey.java
backend/backend/src/main/resources/application.properties
backend/backend/src/main/resources/application.properties
backend/backend/src/main/resources/application.properties
backend/demo/src/main/java/com/example/demo/FaceSecretKey.java
backend/backend/src/main/java/com/sepbf/backend/utils/FaceSecretKey.java
backend/backend/src/main/resources/application.properties
algorithm-flask/.idea/workspace.xml
frontend/node_modules/
